{% extends  "base.html" %}

{% block content %}

<h1> //\\ {{member.first_name}} {{member.last_name}} //\\ {{member.age}} // {{member.sex}} // {% if member.turbo_membership == true%} Turbo Member {%endif%}</h1>
<h2> <a href="/members/{{member.id}}/edit">UPDATE MEMBER DETAILS</a> </h2>

<ul>
    <li>
        <form action="/members/{{member.id}}/turbo" method='post'>
        <button type="submit"class = "button" >ACTIVATE TURBO MEMBERSHIP</button>
        </form>
    </li>
    <li>
        <form action="/members/{{member.id}}/deactivate-turbo" method='post'>
        <button type="submit"class = "button" >DEACTIVATE TURBO MEMBERSHIP</button>
        </form>
    </li>
    <li>
        <form action="/members/{{member.id}}/deactivate" method='post'>
        <button type="submit"class = "button" >DEACTIVATE MEMBERSHIP</button>
        </form>
    </li>
    <li>
        <form action="/members/{{member.id}}/reactivate" method='post'>
        <button type="submit"class = "button" >REACTIVATE MEMBERSHIP</button>
        </form>
    </li>
</ul>

<h3> MEMBER'S CLASSES</h3>

<ul>
    {% for lesson in lessons %}
    <li>
        <a href="/members/my-classes/{{lesson.id}}">{{lesson.class_name}} {{lesson.slot_id.time_stamp}}</a>
    </li>

    {% endfor %}
</ul>

{% endblock %}