{% extends  "base.html" %}

{% block content %}

<h1> //\\ {{member.first_name}} {{member.last_name}} //\\</h1>
<ul>
    <li>
        <form action="/members/{{member.id}}/turbo" method='post'>
        <button type="submit">ACTIVATE TURBO MEMBERSHIP</button>
        </form>
    </li>
    <li>
        <form action="/members/{{member.id}}/deactivate-turbo" method='post'>
        <button type="submit">DEACTIVATE TURBO MEMBERSHIP</button>
        </form>
    </li>
    <li>
        <form action="/members/{{member.id}}/deactivate" method='post'>
        <button type="submit">DEACTIVATE MEMBERSHIP</button>
        </form>
    </li>
    <li>
        <form action="/members/{{member.id}}/reactivate" method='post'>
        <button type="submit">REACTIVATE MEMBERSHIP</button>
        </form>
    </li>
    <li>
        <a href="/members/{{member.id}}/edit">UPDATE YOUR DETAILS</a>
    </li>
</ul>
<h2> MEMBER'S CLASSES</h2>

<ul>
    {% for lesson in lessons %}
    <li>
        <a href="/members/my-classes/{{lesson.id}}">{{lesson.class_name}} {{lesson.slot_id.time_stamp}}</a>
    </li>

    {% endfor %}
</ul>

{% endblock %}