{% extends "base.html" %}

{% block content %}

<h1>//\\  CREATE NEW USER  //\\</h1>
<h2> ENTER USER DETAILS </h2>

<div> <img src="{{ url_for('static', filename='images/strong-man.jpg') }}" alt=""></div>
<ul>
    <form action="/members" method='post'>
        <label class="label" for="first_name">First Name</label>
        <input class="input" type="text" name="first_name", id = "first_name" required>
        <label class="label"for="last_name">Last Name</label>
        <input class="input" type="text" name="last_name", id = "last_name" required>
        <label class="label"for="age">Age</label>
        <input class="input" type="text" name="age", id = "age" required>
        <label class="label"for="first_name">Sex</label>
        <input class="input" type="text" name="sex", id = "sex" required>
        <button class = "button"type="submit">ADD MEMBER</button>
    </form>
</ul>   

{% endblock %}