{% extends  "base.html" %}

{% block content %}

<h1>//\\ OUR CLASSES //\\</h1>
<h2><a href="/classes/new">ADD A CLASS</a></h2>
<main class="background">
    
    <img src="static/images/ropes.jpg" alt="">
{% for lesson in lessons %}
    <ul>
        <li>
            <a href="/classes/{{lesson.id}}"> 
                <p>{{lesson.class_name}} // {{lesson.class_type}} // {{lesson.difficulty}} // {% for slot in slots %}{% if slot.id == lesson.slot_id %}{{slot.time_stamp}}{% endif %}{% endfor %}
            </a>    
        </li>
        
    </ul>
{% endfor %}
</main>
{% endblock %}