<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet"> 

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <title>TurboGym</title>
</head>
<body>
    <header>
        <nav class="nav-bar">
            <ul>
                <li>
                    <a href="/">HOME</a>
                </li>
                <li>
                    <a href="/classes">CLASSES</a>
                </li>
                <li>
                    <a href="/members">MEMBERS</a>
                </li>
                <li>
                    <a href="/">MY PROFILE</a>
                </li>
            </ul>
        </nav>
 </header>
<hr class= "gold_stripe">
<hr class= "purple_stripe"> 
<hr class= "gold_stripe">
<hr class= "purple_stripe"> 
<hr class= "purple_stripe"> 

<aside>
    <h1>Turbo Gym</h1>
    
</aside>
    {% block content %}

    {% endblock%}
    
<hr class= "purple_stripe"> 
<hr class= "purple_stripe"> 
<hr class= "gold_stripe">
<hr class= "purple_stripe"> 
<hr class= "gold_stripe">
    <footer>
        <div class = "socials-container"> 
            <img class="social" src="static/images/socials/iconfinder_Circled_Facebook_svg_5279111.png"    width="26" height="26" alt="">
            <img class="social" src="static/images/socials/iconfinder_Circled_Instagram_svg_5279112.png"   width="26" height="26" alt=""> 
            <img class="social" src="static/images/socials/iconfinder_Circled_Twitter_svg_5279123.png"     width="26" height="26" alt="">          
        </div>
        <div> <p> © TurboGym 2021   </p> </div>
        <div> <p> CONTACT           </p>  </div>
    </footer>
    
</body>
</html>