<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>TurboGym</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">HOME</a>
                </li>
                <li>
                    <a href="/classes">CLASSES</a>
                </li>
                <li>
                    <a href="/members">MEMBERS</a>
                </li>
                <li>
                    <a href="/">MY PROFILE</a>
                </li>
            </ul>
        </nav>
    </header>

    {% block content %}

    {% endblock%}
    
</body>
</html>